body {
  text-align: center;
}
.questions {
  font-family: monospace;
}
.jumbotron {
  color: forestgreen;
}
.answer img{
  width: 200px;
}
.answer {
  display: none;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  background-color: gray;
}
