body {
  text-align: center;
  background-image: url("../img/background.jpg");
}
.questions {
  font-family: monospace;
}
.jumbotron {
  color: forestgreen;
}
.answer img{
  width: 200px;
}
.answer {
  display: none;
  position: relative;
  padding: 30px;
  background-color: gray;
  border-radius: 2%;
  border: 4px black outset;
}
